{{ define "main" }}

  <div class="content-grid">
    <main class="posts-col">
      <p class="col-label">Education</p>

      <div class="exp-row">
        <div class="exp-title">Master of Engineering (Energy Efficiency in Technical Systems)</div>
        <div class="exp-meta">Technische Hochschule Brandenburg, Germany <span class="exp-date">&mdash; May 2021 &ndash; Nov 2023</span></div>
        <ul class="exp-list">
          <li>Thesis: <em>Further Development of a JavaScript Library for Interactive Moodle Exercises in Engineering Subjects</em></li>
          <li>Specialisation: Electrical and Information Systems</li>
          <li>Grade: Gesamtnote 1,7</li>
        </ul>
      </div>

      <div class="exp-row">
        <div class="exp-title">Bachelor of Engineering (Electrical and Information Systems)</div>
        <div class="exp-meta">Technische Hochschule Brandenburg, Germany <span class="exp-date">&mdash; Oct 2017 &ndash; Apr 2021</span></div>
        <ul class="exp-list">
          <li>Thesis: <em>Implementation of Sensor Fusion in Acoustic Source Localisation</em></li>
          <li>Grade: Gesamtnote 2,2</li>
        </ul>
      </div>
    </main>

    <aside class="sidebar">
      <div class="sb-block">
        <p class="col-label">Institutions</p>
        <p class="cert-tag">TH Brandenburg</p>
      </div>
      <div class="sb-block">
        <p class="col-label">Fields</p>
        <div class="cert-badges">
          <span class="cert-tag">Electrical Engineering</span>
          <span class="cert-tag">Embedded Systems</span>
          <span class="cert-tag">Machine Learning</span>
          <span class="cert-tag">Signal Processing</span>
        </div>
      </div>
    </aside>
  </div>

{{ end }}
